# Environment and secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env
# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo
